[submodule "comments-main"]
	path = comments-main
	url = https://github.com/SoundClone/comments-main
[submodule "BottomTopBar"]
	path = BottomTopBar
	url = https://github.com/SoundClone/BottomTopBar
[submodule "Main-Media-Player"]
	path = Main-Media-Player
	url = https://github.com/SoundClone/Main-Media-Player
